.article {
display: flex;
flex-flow: row;
/* flex-wrap: wrap; */
}
.article h1{
    font-size: 35px;
    text-align: start;
}
.article h2{
    color: #c58ffa;
    font-size: 30px;
}
.article p{
    text-align: justify;
    font-size: 22px;
    color: white;
    text-overflow: initial;
}
.article img{
 width: 300px;
 height: 300px;
}
.article div{
    display: flex;
    flex-flow: column;
    margin: 0px 10px 0 10px;
}
.article button{
    margin: auto 0 0 0px;
    transition: 0.3s;
    align-self: flex-start;
    cursor: pointer;
}
.article button:hover{
    background-color: #c58ffa;
    color: #333;
}
@media(max-width: 1650px){
    .article p{
        font-size: 20px;
    }  
}
@media(max-width: 1300px){
    
    .article h1{
        font-size: 30px;
    }
    .article h2{
        font-size: 25px;
    }

}
@media(max-width:1088px){
    .article p {
        font-size: 16px;
    }
}

@media(max-width: 900px){
    .article img{
        width: 300px;
        height: 300px;
    }
    .article button{
        font-size: 15px;
        padding: 4px 2.5px;
    }
}
@media(max-width: 860px){
    .article img{
        width: 250px;
        height: 250px;
    }
    .article h1{
        font-size: 25px;
    }
    .artcile h2{
        font-size: 15px;
    }
    .article p{
        font-size: 13px;
    }
}
@media(max-width: 730px){
    .article h1{
        font-size: 20px;
    }
    .artcile h2{
        font-size: 15px;
    }
    .article p{
        font-size: 12px;
    }
    .article button{
        font-size: 12px;
    }
}
@media(max-width: 616px){
    .article img{
       display: none;
    }
    .article h1{
        font-size: 25px;
    }
    .artcile h2{
        font-size: 20px;
    }
    .article p{
        font-size: 15px;
    }
    .article button{
        margin: 10px 0;
        padding: 5px 10px;
        font-size: 15px;
    }

}
