*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.book{
padding: 5px;
border: 2px solid black;
 flex-basis: 23%;
 margin: 10px 0.3px;
 color: black;
 flex-direction: row;
 background-color: rgb(255, 255, 255);
 border-radius: 20px;
 box-shadow: 0 1px 18px 10px #00000040;
 text-align: justify;
}
.book h1{
    font-size: 20px;
    text-transform: uppercase;

    margin: 0;
}
.book h2{
    font-size: 18px;
    margin: 0;
}
.book p{
}
.book img{
    width: 100%;
    border-radius: 20px;
    /* margin-top: 10px; */
}