.addArticle{
    background-color: #3b0274;
    margin: 180px auto;
    display: flex;
    flex-flow: column;
    padding: 10px;
    color: white;
    width: 80vw;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0,0.5);
}
.addArticle input, .addArticle textarea{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    resize: none;
    font-size: 20px;
}
.addArticle label{
    font-size: 20px;
    margin: 5px 0px;
    width: 80%;
}
.addArticle button{
    background-color: #271a35c0;
    margin: 20px 0 0 0;
    width: 150px;
    height: 50px;
}
.addArticle button:hover{
    background-color: #8615f0;
    cursor: pointer;
}
.error{
    width: 600px;
    margin: 0 auto;
    padding:0;
}
.error div{
    margin-top: 53%;
    height: 200px;
    padding: 0;
    background-color: white;
}

.error header{
    background-color: #360e5e;
    padding: 0px; 
}

.error h1{
    font-size: 31px;
    margin: 20px 0 0 0 ;
    color: white;
    padding: 10px
}
.error p{
    margin: 10px 0 0 5px;
    color: black;
    font-size: 20px;
}
@media(max-width: 644px){
    .error{
        width: 500px
    }
}
@media(max-width: 520px){
    .error{
        width: 300px
    }
}
