
@media(min-width:1024px){
    .hamburger{
        display: none;
    }
}
@media(max-width: 1031px){
    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        display: flex;
        flex-flow: column;
        margin: 0 30px 0 auto;
        z-index: 3;
    }
    .hamburger div{
        width: 100%;
        margin: 3px 0;
        height: 4px;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: white;
        transition: 0.3s;
    }
    .hamburger.active div{
        background-color: black;
        
    }
    .hamburger.active div:nth-of-type(2){
        opacity: 0;
    }
    .hamburger.active div:nth-of-type(1){
        transform: rotate(45deg);
        transform-origin: left;
    }
    .hamburger.active div:nth-of-type(3){
        transform: rotate(-40deg); 
        transform-origin: left;
    }
    

}

