
@media(min-width:1024px){
    .hamburger{
        display: none;
    }
}
@media(max-width: 1024px){
    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        display: flex;
        flex-flow: column;
    }
    .hamburger div{
        width: 100%;
        margin: 3px 0;
        height: 4px;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: white;
    }
}
